<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
</head>
<body>
    <h3 th:text="${titulo}"></h3>
    <div th:text="${user.nombre}"></div>
    <div th:text="${user.apellido}"></div>
    <div th:text="${user.username}"></div>
    <div th:text="${user.password}"></div>
    <div th:text="${user.email}"></div>
    <div th:text="${user.id}"></div>
    <div th:text="${user.cuenta}"></div>
    <div th:text="${user.fechaNacimiento}"></div>
</body>
</html>